/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

.container {
    max-width: 600px;
    margin: 2em auto;
    padding: 1em;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
    color: #2c3e50;
    text-align: center;
}

.logo {
    max-width: 200px;
    margin: 2em auto;
    display: block;
}

.description {
    max-width: 600px;
    margin: 2em auto;
    line-height: 1.6;
    color: #333;
}

.btn,
button,
.radio-button {
    display: inline-block;
    padding: 1.5em;
    background: #ecf0f1;
    color: #2c3e50;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    margin: 10px auto;
    font-size: 110%;
}

.btn,
button {
    background: #3498db;
    color: white;
}

.btn:hover,
button:hover {
    background: #2980b9;
}

.radio-buttons {
    display: flex;
    gap: 1em;
    margin: 1.5em 0;
}

.center {
    text-align: center;
}
.vote-options {
    display: flex;
    gap: 1em;
    margin: 1.5em 0;
}

label,
p {
    text-align: left;
}

input[type="text"],
input[type="number"],
select,
textarea {
    width: calc(100% - 2em);
    padding: 1em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}
select {
    width: 100%;
}

/* Classes de base pour les résultats */
.result h2 {
    padding: 2em;
    border-radius: 8px;
}
.result .details {
    font-size: 0.8em;
}
.result h2 .title {
    padding-left: 2em;
    padding-bottom: 1em;
    margin: auto;
    position: relative;
    display: inline-block;
}

.result .title::before {
    position: absolute;
    left: 0;
    top: -0.2em;
    font-size: 1.5em;
    content: attr(data-icon);
}

/* Styles par statut */
.unanimous {
    background: #dff0d8; /* Vert pâle */
}
.unanimous .title::before {
    content: "✅";
}

.veto {
    background: #ffccbc; /* Orange pêche */
}
.veto .title::before {
    content: "❗"; /* ❌ */
}

.waiting {
    background: #e3f2fd; /* Bleu pâle */
}
.waiting .title::before {
    content: "🕒"; /*⏳⏱🕒*/
}

.contested {
    background: #ef9a9a;
    color: #5d4037;
}
.contested .title::before {
    content: "🚨"; /* 🚫 */
}

/* Liens vers le code source */
.source-links {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 0.8em;
    opacity: 0.7;
    transition: opacity 0.2s;
    white-space: nowrap;
    text-align: right;
}
.source-links:hover {
    opacity: 1;
}
.source-links a {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}
.source-links a:hover {
    text-decoration: underline;
}

/* Responsive */
@media (max-width: 600px) {
    .container {
        margin: 1em;
        padding: 0.5em;
    }
    .radio-button,
    button {
        font-size: 0.9em;
    }
}
